<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-6">
        <div class="content">
          <h3> Sensor </h3>
          <p> Write a bunch of information here </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="content">
          <h3> Motor </h3>
          <p> Write a bunch of information here </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="content">
          <h3> Map </h3>
          <p> Write a bunch of information here </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="content">
          <h3> Camera </h3>
          <p> Write a bunch of information here </p>
        </div>
      </div>
    </div> 
  </div>
</div>